


:root {


    --color-Primary: #eb2f64;
    --color-Primary-light: #FF3366;
    --color-Primary-dark: #BA265D;

    --color-Grey-light-1: #faf9f9;
    --color-Grey-light-2: #f4f2f0;
    --color-Grey-light-3: #f0eeee;
    --color-Grey-light-4: #ccc;

    --color-Grey-dark-1: #333;
    --color-Grey-dark-2: #777;
    --color-Grey-dark-3: #999;

    --color-shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
    --color-shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);

    --line: 1px solid var(--color-Grey-light-4);
}


* { 
    margin: 0;
    padding: 0;
}


*,
*::before,
*::after {
    box-sizing: inherit;

}


html {
    box-sizing: border-box;
    font-size: 62.5%; //1rem= 10px, 10/ 16 = 62.5%
}


body {

    font-family: 'Lato', sans-serif;    
    font-weight: 400;
    line-height: 1.6;
    background-image: linear-gradient(to right bottom, var(--color-Primary), var(--color-Primary-dark));
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;

}

